   <%  if (user_signed_in?)%>
  <% if current_user.has_role? :admin%>
<h1 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; padding-bottom:7px;">Editar Cotización de Moneda</h1>

  <%= render 'form' %>




<%  end %>
 <%  else %>

<%= render template: 'home/denial' %>
  <%  end %>
