<div class="col-md-4" >
</div>
<div class="col-md-4" style="border:3px solid #D46A6A; background: #fff; border-radius: 2%; margin-bottom:30px;" >
  <div class='container-fluid'>
    <center>
      <h1 style='color: #D46A6A; padding-bottom:7px;'><br>¡ALTO!<br></h1>
      <img src="/assets/denegado.jpg" width="70%">
      <h3 style='color: #D46A6A; padding-bottom:7px;'>
        ACCESO RESTRINGIDO
      </h3>
        <h3 style=' border-bottom:1px solid #D46A6A; margin-left:20%; margin-right:20%;'></h3>
      <h2 style='color: #000; padding-bottom:7px;'>
        SOLO PERSONAL AUTORIZADO
      </h2>
      <br>
    </center>
  </div>
</div>
<div class="col-md-4" >
</div>
